article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  font-size: 12px;
  height: 100%; }

img {
  max-width: 100%; }

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

.leftContainer, .rightContainer {
  width: 20%;
  background-image: url("images/zodiac_app_pattern.png");
  background-repeat: repeat-y;
  background-size: 100%;
  height: 100%;
  float: left; }

.leftContainer {
  border-right: 9px solid black;
  position: relative; }
  .leftContainer img.star {
    position: absolute;
    transform: rotate(20deg); }

.rightContainer {
  border-left: 9px solid black; }
  .rightContainer img.planet {
    position: absolute;
    top: 200px;
    right: 150px;
    width: 125px; }

.middleContainer {
  float: left;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  height: auto; }
  .middleContainer header {
    height: 175px; }
    .middleContainer header img {
      width: 95%; }
    .middleContainer header .date {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      float: right;
      margin-right: 2%;
      display: block; }
  .middleContainer .bar {
    background: #22EFFF;
    width: 100%;
    height: 12px; }
  .middleContainer .formContainer {
    background: #1DFFD4;
    clear: both;
    height: 200px;
    margin-top: 2%;
    border-top: 9px solid black;
    border-bottom: 9px solid black;
    position: relative; }
    .middleContainer .formContainer img.yin {
      position: absolute;
      right: 20px;
      top: -20px;
      width: 120px;
      transform: rotate(-25deg); }
    .middleContainer .formContainer h2 {
      margin-top: 3.5%; }
    .middleContainer .formContainer form {
      padding: 3% 0; }
    .middleContainer .formContainer select {
      -webkit-appearance: none;
      background: rgba(255, 255, 255, 0.8);
      border: none;
      border-radius: 0;
      height: 35px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      width: 25%;
      margin-right: 2%;
      padding-left: 2%; }
    .middleContainer .formContainer input.submit {
      -webkit-appearance: none;
      background: #FF45DC;
      border: none;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1.5px;
      height: 35px;
      padding: 0 2%; }
    .middleContainer .formContainer input.submit:hover {
      background: mediumvioletred; }
    .middleContainer .formContainer input.loading {
      cursor: wait; }
  .middleContainer .weatherContainer, .middleContainer .fortuneContainer {
    width: 50%;
    float: left;
    height: 300px; }
  .middleContainer .fortuneContainer {
    border-bottom: 9px solid black;
    padding: 0 7%;
    position: relative; }
    .middleContainer .fortuneContainer h2 {
      margin-top: 9%;
      margin-bottom: 5%; }
    .middleContainer .fortuneContainer p {
      font-family: 'Libre Baskerville', serif;
      font-size: 1.5rem;
      line-height: 150%;
      color: dimgrey; }
    .middleContainer .fortuneContainer img.eye {
      position: absolute;
      bottom: 0px;
      right: -65px;
      width: 140px; }
    .middleContainer .fortuneContainer img.triangle {
      position: absolute;
      width: 90px;
      left: 10px;
      top: -55px; }
    .middleContainer .fortuneContainer img.moon {
      position: absolute;
      bottom: -55px;
      left: 15px; }
  .middleContainer .weatherContainer {
    border-left: 9px solid black;
    border-bottom: 9px solid black; }
    .middleContainer .weatherContainer h2 {
      margin-top: 6%;
      margin-bottom: 0; }
    .middleContainer .weatherContainer svg {
      margin-bottom: 0;
      animation: spin 5s linear infinite;
      -webkit-animation: spin 2s linear infinite;
      -webkit-transform-origin: 50% 50%; }
    .middleContainer .weatherContainer p {
      margin-top: 3%;
      font-family: 'Libre Baskerville', serif;
      font-size: 1.3rem;
      color: dimgrey; }
    .middleContainer .weatherContainer p.temperature {
      margin: 0; }
  .middleContainer .stuffLeft, .middleContainer .stuffRight {
    float: left;
    width: 50%; }
  .middleContainer .stuffRight {
    border-left: 9px solid black; }

@media (max-width: 1000px) {
  .rightContainer img.planet {
    right: 100px; }

  .middleContainer .fortuneContainer p {
    font-size: 1.2rem; } }
@media (max-width: 900px) {
  .middleContainer header {
    height: 155px; }
  .middleContainer .fortuneContainer img.eye {
    right: -45px;
    width: 100px; }
  .middleContainer .fortuneContainer img.triangle {
    width: 70px;
    top: -45px; }
  .middleContainer .fortuneContainer img.moon {
    bottom: -55px;
    left: 15px; }
  .middleContainer .formContainer {
    height: 170px; }

  .rightContainer img.planet {
    right: 90px;
    width: 100px; } }
@media (max-width: 800px) {
  h2 {
    font-size: 1.2rem; }

  .middleContainer .formContainer {
    height: 150px; } }
@media (max-width: 750px) {
  .leftContainer, .rightContainer {
    display: none; }

  .middleContainer {
    width: 100vw; }
    .middleContainer .formContainer {
      height: 180px; }
    .middleContainer .fortuneContainer p {
      font-size: 1.3rem; } }
@media (max-width: 550px) {
  .middleContainer .formContainer form {
    padding: 5% 0; }
  .middleContainer .fortuneContainer p {
    font-size: 1.2rem; } }
@media (max-width: 450px) {
  .middleContainer header {
    height: 145px; }
  .middleContainer .fortuneContainer {
    padding: 0 4%; }
    .middleContainer .fortuneContainer img.eye {
      width: 90px; }
    .middleContainer .fortuneContainer img.moon {
      width: 80px; }
  .middleContainer .weatherContainer h2 {
    margin-top: 8%; } }
@media (max-width: 400px) {
  .middleContainer {
    width: 100%; }
    .middleContainer .formContainer {
      height: 210px; }
      .middleContainer .formContainer form.birthday {
        padding: 2% 0; }
        .middleContainer .formContainer form.birthday select.month {
          width: 90%;
          margin-bottom: 2%; }
        .middleContainer .formContainer form.birthday select.day {
          width: 90%; }
        .middleContainer .formContainer form.birthday input.submit {
          margin-top: 3%; }
    .middleContainer .fortuneContainer h2 {
      margin-top: 6%; }
    .middleContainer .fortuneContainer img.eye {
      display: none; }
    .middleContainer .fortuneContainer p {
      font-size: 1.4rem; }
    .middleContainer .fortuneContainer, .middleContainer .weatherContainer {
      height: inherit;
      width: 100%;
      float: none; }
    .middleContainer .weatherContainer {
      border-left: none; }
      .middleContainer .weatherContainer h2 {
        margin-top: 5%; }
      .middleContainer .weatherContainer p.temperature {
        font-size: 1.4rem; } }
@media (max-width: 320px) {
  .middleContainer header {
    height: 135px; } }

/*# sourceMappingURL=output.css.map */
